@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

html {
font-family: 'Cabin', sans-serif;
    
}

body {
	font-size: 1.4rem;
}

tbody {
    border-top: 0px;
}

tr {
    border-bottom: 0px;
}

.d-header {
    box-shadow: 0 0 0 0;
}

th:first-child { border-radius:15px 0 0 15px; border-left:none}
th:last-child{ border-radius:0 15px 15px 0;border-right:none }

.btn-flat .d-icon {
    color: $primary-high;
}