@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

html {
font-family: 'Cabin', sans-serif;
    
}

body {
	font-size: 1.4rem;
}

.d-header {
    box-shadow: 0 0 0 0;
}


.btn-flat .d-icon {
    color: $primary-high;
}

button {
    border-radius: 10px;
}
